<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/stylesheets/ui.css">
  <script src="/static/scripts/ui.js"></script>
</head>

<body>
  <div class='dashboard'>
    <div class='column'>
      <div id="chart1" class='item {{ .One }}'>One</div>
      <div id="chart2" class='item {{ .Two }}'>Two</div>
      <div id="chart3" class='item {{ .Three }}'>Three</div>
      <div id="chart4" class='item {{ .Four }}'>Four</div>
    </div>
    <div class='column'>
      <div id="chart5" class='item {{ .Five }}'>Five</div>
      <div id="chart6" class='item {{ .Six }}'>Six</div>
      <div id="chart7" class='item {{ .Seven }}'>Seven</div>
      <div id="chart8" class='item {{ .Eight }}'>Eight</div>
    </div>
    <div class='column'>
      <div id="chart9" class='item {{ .Nine }}'>Nine</div>
      <div id="chart10" class='item {{ .Ten }}'>Ten</div>
      <div id="chart11" class='item {{ .Eleven }}'>Eleven</div>
      <div id="chart12" class='item {{ .Twelve }}'>Twelve</div>
    </div>
</body>
